<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="../mymedia/images/favicon.ico"/>
		<script src="../mymedia/js/jquery-1.8.2.js" type="text/javascript"></script>
		<script src="../mymedia/js/nav_menu.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="../mymedia/css/nav_style.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Layout Example</title>
		<script type="text/javascript" src="../mymedia/js/jquery-latest.js"></script>
		<script type="text/javascript" src="../mymedia/js/jquery.layout-latest.js"></script>
		<link rel="stylesheet" href="../mymedia/css/jquery.treeview.css" />
		<link rel="stylesheet" href="../mymedia/css/screen.css" />
		<script src="../mymedia/js/jquery.cookie.js" type="text/javascript"></script>
		<script src="../mymedia/js/jquery.treeview.js" type="text/javascript"></script>
		<script type="text/javascript" src="../mymedia/js/demo.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('body').layout({ applyDemoStyles: true });
			});
		</script>
	</head>
	<script type="text/javascript">
		var inner = [];
		$('li').each( function(index, Element){
			if (jQuery.inArray(this.innerHTML, inner) == -1){
			  inner.push(this.innerHTML);
			}
			else {
			  $(this).remove();
			}
		});
	</script>
	<body>
		<div class="ui-layout-north">
			
			<a href="/smartlogis/home/"><img src="../mymedia/images/logo.png" align="left" alt="Logo" width="120"
			 height="60"/></a>
			
		</div>
		<div class="ui-layout-south">South
		</div>
		<div class="ui-layout-east">East
		</div>
		 <div class="ui-layout-west">
		
		
		
		  
		
            <ul id="red" class="treeview-red">
				{% for i in Rolefetures %}
				
					{% if i.menu.parent == None and i.menu.type != "F" %}
					<li><span>{{i.menu.name}}</span>
					<ul>
						{% for j in Rolefetures %}
							{% ifequal i.menu.id j.menu.parent.id %}
								{% if j.menu.type != "F" %}
									<li><span>{{j.menu.name}}</span>
									
									
									<ul class="a">
									{% for k in Rolefetures %}
										{% ifequal j.menu.id k.menu.parent.id %}
											<li><span><a href="/{{projectname}}/{{i.menu.urlname}}/{{j.menu.urlname}}/{{k.menu.urlname}}/" style="text-decoration:none;">{{k.menu.name}}iii</a></span>
									
											</li>
										{% endifequal %}
									{% endfor %}
									</ul>
									</li>
									{% elif j.menu.type == "F" %}
						<li><span><a href="/{{projectname}}/{{i.menu.urlname}}/{{j.menu.urlname}}/"style="text-decoration:none;">{{j.menu.name}}</a></span></li>
					{% endif %}
						{% endifequal %}
						{% endfor %}
					</ul>
						</li>
					{% elif i.menu.parent == None and i.menu.type == "F" %}
						<li><span><a href="/{{projectname}}/{{i.menu.urlname}}/"style="text-decoration:none;">{{i.menu.name}}</a></span></li>
					{% endif %}
				{% endfor %}
			</ul>

        </div>
		<div class="ui-layout-center"align = "center">

    <form action="/smartlogis/category_submit/" method="POST" name="main" onsubmit="return validateForm()">
      <h3>data is Entered</h3>

   					{% for entry in items %}
   					    <option value="{{ entry.id}}">{{ entry.Category }}</option>
   					{% endfor %}
             </select></label>
       <!--  <label class="black">From &nbsp; :&nbsp;</label><input type="text" name="from1" class="txtbox">&nbsp;<input type="button" value="Cal" onclick="displayCalendar(document.forms[0].from1,'yyyy-mm-dd',this)"><br /><br /> -->
          <!--  <label class="black">To &nbsp; &nbsp; &nbsp; :&nbsp;</label><input type="text" name="to" class="txtbox">&nbsp;<input type="button" value="Cal" onclick="displayCalendar(document.forms[0].to,'yyyy-mm-dd',this)"><br /><br /> -->

    </form>
</div>


		</div>
	</body>
</html>