<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../mymedia/images/favicon.ico"/>
        
        
  <link rel="stylesheet" type="text/css" href="../mymedia/menu/styles.css">
        
        
        <script src="../mymedia/js/jquery-1.8.2.js" type="text/javascript"></script>
        <script src="../mymedia/js/nav_menu.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="../mymedia/css/nav_style.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Layout Example</title>
        <script type="text/javascript" src="../mymedia/js/jquery-latest.js"></script>
        <script type="text/javascript" src="../mymedia/js/jquery.layout-latest.js"></script>
        <link rel="stylesheet" href="../mymedia/Tree/jquery.treeview.css" />
        <link rel="stylesheet" href="../mymedia/Tree/screen.css" />
        <script src="../mymedia/Tree/jquery.cookie.js" type="text/javascript"></script>
        <script src="../mymedia/Tree/jquery.treeview.js" type="text/javascript"></script>
        <script type="text/javascript" src="../mymedia/Tree/demo.js"></script>
        
    <!---------------    nav.js   ---------->
<script type="text/javascript" language="javascript" charset="utf-8" src="../mymedia/menu/nav.js"></script>    
    
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('body').layout({ applyDemoStyles: true });
            });
        </script>    
    </head>
    <script type="text/javascript">
        var inner = [];
        $('li').each( function(index, Element){
            if (jQuery.inArray(this.innerHTML, inner) == -1){
              inner.push(this.innerHTML);
            }
            else {
              $(this).remove();
            }
        });
    </script>
    <body>
	<div class="ui-layout-north">
            <img src="../mymedia/images/logo.png" alt="Logo" width="130" height="70"/>
            <img src="../mymedia/images/logo-down.png" align="right" alt="Logo" width="130" height="70"/></br>
            <a href="/uam/logout_view/"><img src="../mymedia/logout-button-blue-hi.png" align="right" alt="Logo" width="80" height="20"/></a>
                
        </div>
		<div class="ui-layout-south">South
        </div>
        <div class="ui-layout-east">
        <!-- <font size="2" color="blue">Login As :</font>{{Username}}</br>
        <font size="2" color="blue"> Active Page Link:</font> -->
        <!-- <a href="/smartlogis/login/" >Logout</a> -->
        </div>
        <div class="ui-layout-west">        
            <ul id="red" class="treeview-red">
                {% for i in Rolefetures %}
                
                    {% if i.menu.parent == None%}
                    <li><span>{{i.menu.name}}</span>
                    <ul>
                        {% for j in Rolefetures %}
                            {% ifequal i.menu.id j.menu.parent.id %}
                                {% if j.menu.type != "F" %}
                                    <li><span>{{j.menu.name}}</span>
                                    
                                    
                                    <ul class="a">
                                    {% for k in Rolefetures %}
                                        {% ifequal j.menu.id k.menu.parent.id %}
                                            <li><span><a href="/{{projectname}}/{{i.menu.urlname}}/{{j.menu.urlname}}/{{k.menu.urlname}}/" style="text-decoration:none;">{{k.menu.name}}iii</a></span>
                                    
                                            </li>
                                        {% endifequal %}
                                    {% endfor %}
                                    </ul>
                                    </li>
                                    {% elif j.menu.type == "F" %}
                        <li><span><a href="/{{projectname}}/{{i.menu.urlname}}/{{j.menu.urlname}}/"style="text-decoration:none;">{{j.menu.name}}</a></span></li>
                    {% endif %}
                        {% endifequal %}
                        {% endfor %}
                    </ul>
                        </li>
                    {% elif i.menu.parent == None and i.menu.type == "F" %}
                        <li><span><a href="/{{projectname}}/{{i.menu.urlname}}/"style="text-decoration:none;">{{i.menu.name}}</a></span></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
        
        <div class="ui-layout-center" align = "center">
Added Successfully
</div>
</div>
</body>
</html>