<html>

<head>
<script type="text/javascript" src="../mymedia/js/jquery-latest.js"></script>
    <script type="text/javascript" src="../mymedia/js/jquery.layout-latest.js"></script>
    <script>
    function displayResult()
    {
    var x=document.getElementById("myCheck").defaultChecked;
    alert(x);
    }
    </script>
    <script type="text/javascript">
    $(document).ready(
    function() {
            //clicking the parent checkbox should check or uncheck all child checkboxes
            $(".parentCheckBox").click(
                function() {
                    $(this).parents('fieldset:eq(0)').find('.childCheckBox').attr('checked', this.checked);
                }
            );
            //clicking the last unchecked or checked checkbox should check or uncheck the parent checkbox
            $('.childCheckBox').click(
           
                        
                        );
                        $(this).parents('fieldset:eq(0)').find('.parentCheckBox').attr('checked', flag);
                    }
                
                
            } 
        );

</script>

<!-- <script>
$(document).ready(function () {
    $('#').hide();
    
    $('#dropdown').change(function () {
        $('.box').hide();
        $('#'+$(this).val()).show();
    });
});
</script> -->

<title>Settings</title>

<link rel="stylesheet" href="../mymedia/css/style.css/" type="text/css" charset="utf-8" />
</head>

<div id="main-container">
<div id="header">

<div class="logo">
<img src="../mymedia/images/logo.png" alt="Logo" />
</div>
</div>

<div id="nav">
<div class="main">
<div id="people" >
<form action="/uam/config/" method="post" name="myForm" onsubmit="return validateForm()">
    <p style="text-indent: 4em;">
    <label class="black">Role &nbsp; :</label><select name="role" >
        {% for id in role %}<option value="{{id.id}}" id="dropdown" selected="selected">{{id.Role_Name}}</option>{% endfor %}</select>
        </p><br/><br/>
            {% for i in Feature_Group %}
                <fieldset><ul id="menu"style="list-style: none;">
                    <li >
                        <!-- <a href="#">{{i.Name}}</a> -->
                        <!-- <input type="checkbox" name="demo" value="one" />{{i.Name}}<br /> -->
                         
                         
                        <input type="checkbox" class="parentCheckBox" id="mycheck" name="check" value="{{i.id}}"/>{{i.Name}}<br />
                        <fieldset><ul id="menu" style="list-style: none;">
                          <!--1-->  {% for j in Feature_Subgroup %}
                                        {% ifequal i.id j.parent.id %}
                                sss
                                        <li>
                                        {% for m in menu_id %}
                                        
                                            {% ifequal m.menu_id j.id %}
                                            
                                            <input type="checkbox" class="childCheckBox" name="check" value="{{j.id}}" checked="checked" /> {{j.Name}}<br />
                                            {% else %}
                                            
                                            {% endifequal %}
                                            {% endfor %}
                                            
                                            <!---1-->{% endifequal %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                    

                                
                                            
                                        <!-- <a href="#">{{j.Name}}</a> -->
                                        <!-- <input type="checkbox" name="demo" value="one" />{{j.Name}}<br /> -->
                                                <!-- <input type="checkbox" class="childCheckBox" name="check" value="{{j.id}}" /> {{j.Name}}<br /> -->
                                            
            <input type="submit" value="Submit"></input>&nbsp;&nbsp;<a href="/fin_home/"><button type="button">Cancel</button></a><br/>
    
    </body></html>