<html>

<head>

<title>Settings</title>
<link rel="stylesheet" href="../mymedia/css/style.css/" type="text/css" charset="utf-8" />
<script type="text/javascript" src="../mymedia/js/jquery-latest.js"></script>
<script type="text/javascript" src="../mymedia/js/jquery.layout-latest.js"></script>
</head>

<body>


<div id="nav">
<div class="main">
<div id="people" >
<img src="../mymedia/images/logo.png"></img>
<form action="/uam/config/" method="post" name="myForm" onsubmit="return validateForm()">
    <p style="text-indent: 4em;">
	<br/>
    <label class="black">Role &nbsp; :</label><select name="role" id="dropdown"><option value="no"  selected="selected">-----------</option>
        {% for id in role %}<option value="{{id.id}}">{{id.Role_Name}}</option>{% endfor %}</select>
			<input type="hidden" name="role" id="role" value="{{selectedrole.id}}"/>
		<div id="welcomeDiv"  style="display:none;" > &emsp;&emsp;&emsp;<b>Role Selected: {{selectedrole.Role_Name}} </b></div>
	
        </p><br/><br/>
        
        
            {% for i in Feature_Group %}
                <fieldset><ul id="menu"style="list-style: none;">
                    <li >
                        <!-- <a href="#">{{i.Name}}</a> -->
                        <!-- <input type="checkbox" name="demo" value="one" />{{i.Name}}<br /> -->
                        {% if i in main_menu %}
                        <input type="checkbox" class="parentCheckBox" id="mycheck" name="check" value="{{i.id}}"  onclick="sam" checked="checked"/> {{i.Name}}<br />
                        {% else %}
                        <input type="checkbox" class="parentCheckBox" id="mycheck" name="check" onclick="sam" value="{{i.id}}" checked="checked"/> {{i.Name}}<br />
                        {% endif %}
                        <fieldset><ul id="menu" style="list-style: none;">
                          <!--1-->  {% for j in Feature_Subgroup %}
                                        {% ifequal i.id  j.parent.id %}
            
                                    <li>
                                            {% if j in menu_id %}
                                        
                                            <input type="checkbox" class="childCheckBox{{i.id}}" name="check" value="{{j.id}}" checked="checked" />{{j.Name}}<br />
                                            {%else%}
                                                <input type="checkbox" class="childCheckBox{{i.id}}" name="check" value="{{j.id}}" />{{j.Name}}<br />
                                            {% endif%}
        
                                        <fieldset><ul id="menu"style="list-style: none;">
                                            {% for k in Feature_Items %}
                                                {% ifequal j.id k.parent.id %}
                                            
                                                    <li>
                                                    
                                                        <!-- <a href="#">{{k.Name}}</a> -->
                                                        {% if k in menu_id %}
                                        
                                                        <!-- <input type="checkbox" name="demo" value="one" />{{k.Name}}<br /> -->
                                                        <input type="checkbox" class="childCheckBox{{i.id}}" name="check" value="{{k.id}}" checked="checked" />{{k.Name}}<br />
                                                        {%else%}
                                                        <input type="checkbox" class="childCheckBox{{i.id}}" name="check" value="{{k.id}}" />{{k.Name}}<br />
                                                        {% endif%}
                                                    </li>
                                                {% endifequal %}
                                            {% endfor %}
                                        </ul></fieldset>
                                    </li>{% endifequal %}
                                                    {% endfor %}
                        </ul></fieldset>
                    </li>
                </ul>
                </fieldset>
                {% endfor %}
            
            <input id ="submit" type="submit" value="Submit" style="display:none;"></input>&nbsp;&nbsp;<a href="/config/"><button id="cancel" type="button" style="display:none;">Cancel</button></a><br/>
</div>
</form>
 <script type="text/javascript">
var done = function(res) {
    $("#people").html(res.responseText);
	$("#welcomeDiv").show();
	$("#submit").show();
	$("#cancel").show();

  }
var create_note = function() {
    alert("entered");
  var title = $("#dropdown").val();
  if (title != "") {
    var data = { title:title };
    var args = { type:"POST", url:"/uam/setting/", data:data, complete:done };
    $.ajax(args);
	alert(title);
	document.getElementById("welcomeDiv").innerHTML = "dfdf"
  }
  else { 
    display_error("Requires values for both title and slug.", $(".new"));
  }
  return false;
};

$("#dropdown").change(create_note);
</script>      

<script type="text/javascript">
$('.parentCheckBox').click(function sam() {
	alert("fdf");
    if ($(this).is(':checked')) {
		alert("pareif");
       $( '#people input:checkbox[class="childCheckBox' + $( this ).attr( 'value' ) + '"]' ).attr( 'checked', true );
    } else {
		alert("pareelse");
	    myfunction()
       $( '#people input:checkbox[class="childCheckBox' + $( this ).attr( 'value' ) + '"]' ).attr( 'checked' ,false);
    }
});
var done = function(res) {
    $("#people").html(res.responseText);
	$("#welcomeDiv").show();
	$("#submit").show();
	$("#btn").show();
  }
function myfunction() {
    alert("entered");
  var title = $("#dropdown").val();
  if (title != "no") {
    var data = { title:title };
    var args = { type:"POST", url:"/uam/setting/", data:data, complete:done };
    $.ajax(args);
  }
  else {
	alert("else");
	var uncheckval = $("#role").val();
	alert(uncheckval);
    var data = { title:uncheckval };
    var args = { type:"POST", url:"/uam/setting/", data:data, complete:done };
    $.ajax(args);
    }
  return false;
};

$("#dropdown").change(myfunction);
</script>                
    
</div>
</div>   
</body>
</html>